$myColor: #2f2643;
$myFont : 'Poppins', sans-serif;
@mixin flex {
    display: flex;
    justify-content: center;
}
.section5{
    @include flex();
    width: 100%;
    margin-top: 50px;
    .shrink-sec5{
        width: 50%;
        @include flex();
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
        .for-free{
            font-family:$myColor;
            margin-bottom: 10px ;
            font-size: 36px;
            text-align: center;
        }
        .set-up{
            text-align: center;
            font-size: 19px;
        }
        .include{
            margin-top: 30px;
            color: #f77881;
            font-size: 28px !important;
            font-family:$myColor;
            text-align: left
        }
        .in-include{
            margin-top: 20px;
            .p{
                font-size: larger;
            }
        }
        .btnz{
            @include flex();
            padding: 10px 20px 10px 20px ;
            color: white;
            background-color: #ff707a;
            border: none;
            border-radius: 5px;
            margin-bottom: 40px;
            text-transform: uppercase;
            &:hover{
                display: flex;
                padding: 10px 20px 10px 20px;
                color: $myColor;
                background-color: #ff707a;
                border-radius: 5px;
                border: none;
            }
        }
    }
}