$myColor: #2f2643;
$myFont : 'Poppins', sans-serif;
//tags
.bg-light {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
a{
    text-decoration: none;
}
header , nav ,.left-navbar , .right-navbar {
    display: flex;
    align-items: center;
}
.li-menu , .right-navbar-text{
    font: large bold ;
    font-family: $myFont;
    text-decoration: none;
    color: $myColor;
    opacity: 0.8;
}
header{
    width: 100%;
    justify-content: center;
    background-color: white;
    .navbar-toggler{
        border: none;
    }
    nav{
        width: 80%;
        height: 80px;
        justify-content: center;
        margin-left: 130px ;
        //left side
        .left-navbar{
            width: 50%;
            height: 100%;
            justify-content: space-around;
            text-decoration: none;
            flex-wrap: wrap;
            margin-top: 30px;
            .li-menu{
                margin-top: 5px;
                opacity:0.8;
                text-transform: uppercase;
                font: 500 $myFont 16px ;
                color: $myColor;
                &:hover{
                    opacity:1;
                    transition: 200ms;
                }
            }
        }
        //right side
        .right-navbar{
            width: 30%;
            height: 100%;
            justify-content: right;
            align-self: flex-end;
            margin-top: 30px;
            text-transform: uppercase;
            .right-navbar-text{
                margin-right: 20px;
                font: 500 $myFont 16px;
                line-height: 24px;
                opacity: 0.8;
                &:hover{
                    opacity:1;
                    transition: 200ms;
                }
            }
            .right-navbar-button{
                display: flex;
                padding: 10px 18px 10px 18px;
                color: white;
                background-color: #ff707a;
                border-radius: 5px;
                font: 600 $myFont 16px;
                text-align: center;
                &:hover{
                    color: $myColor;
                    font: 600 $myFont 16px;
                }
            }
        }
    }
}