$myColor: #2f2643;
$myFont : 'Poppins', sans-serif;
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3{
    @include flexcenter();
    .inner-section3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        .leftsection3{
            width: 40%;
            @include flexcenter();
            margin: 50px;
            .left-sec-img{
                width: 100%;
                height: auto;
            }
        }
        .rightsection3{
            .who_is_envite_for{
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.01em;
            }
            .whow{
                font-size: 36px;
                font: 700 $myFont;
                line-height: 54px;
            }
        }
    }
}
@media (max-width: 900px){
    .section3{
        @include flexcenter();
        .inner-section3{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            flex-direction: column;
            .leftsection3{
                width: 100%;
                @include flexcenter();
                margin: 50px;
                .left-sec-img{
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                }
            }
            .rightsection3{
                .who_is_envite_for{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.01em;
                }
                .whow{
                    font-size: 36px;
                    font: 700 $myFont;
                    line-height: 54px;
                }
            }
        }
    }
}
.innersection3{
    width: 34.5%;
}
.earn{
    display: flex;
    color: #ff707a;
    border: none;
    font: 700 $myFont;
    font-size: 20px;
    line-height: 30px;
    &:hover{
        display: flex;
        color: $myColor;
        border-radius: 5px;
        border: none;
    }
}