.section4{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    

    .text-dec{

        color: #00AEDC;
        margin-right: 10px;

    }

    .benefits{

        text-align: center;
        margin-bottom: 40px;
        font-size: 50px;
    }

    .space{

        color: white;
        margin-right: 10px;

    }

}
