$myColor: #2f2643;
$myFont : 'Poppins', sans-serif;
@mixin flex {
    display: flex;
    align-items: center;
}
.div{
    @include flex();
    justify-content: center;
    font-family: $myFont;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 126px;
}
.section2{
    background-color: rgba(249, 249, 249, 1);
    padding-top: 69px;
    padding-bottom: 147px;
    .colored{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 83px;
        .main-widget{
            width: 60%;
            @include flex();
            justify-content: space-around;
            flex-direction:row;
            .widget{
                width: 30%;
                padding: 20px;
                font-family: $myFont;
                h4{
                    font: bold;
                    font-size: 20px;
                    margin-top: 12px;
                    margin-bottom: 24px;
                }
                .find-out{
                    color: #00aedc;
                    font-size: large;
                    &:hover{
                        color: #2f2643;
                    }
                } 
            } 
        }   
    }
    @media (max-width:950px){
        .colored{
            width: 100%;
            .main-widget{
                width: 60%;
                @include flex();
                justify-content: space-around;
                flex-direction: column;
                .widget{
                    width: 100%;
                }
            }
        }
    }
}